<footer class="bg-light text-center text-lg-start border-top">
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5>Easy Nutrition</h5>
        <p>
          Sua plataforma completa para gestão nutricional.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5>Links</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-dark">Termos de Uso</a></li>
          <li><a href="#!" class="text-dark">Política de Privacidade</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark text-white">
    © 2025 Easy Nutrition. Todos os direitos reservados.
  </div>
</footer>